<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div>
		<div class="abstract">
			<h4>Abstract</h4>
		</div>
		<div class="introduction">
			<h4>Introduction</h4>
		</div>
		<div class="methods">
			<h4>Methods</h4>
		</div>
		<div class="discussion">
			<h4>Discussion</h4>
		</div>
		<div class="limitations">
			<h4>Limitations</h4>
		</div>
	</body>
</html>
